@charset "utf-8";

.header-fixture-carousel .carousel__arrow--right { right: 68px; }

.fixture-carousel__fill-before::before { left: -54px; width: 200px; }

.fixture-carousel__fill-before::after, .fixture-carousel__fill-before::before { background: linear-gradient(to bottom,rgba(0,0,0,.03) 40.5px,var(--surface-high) 40.5px); bottom: 0px; content: ""; position: absolute; top: 0px; }

.fixture-carousel__fill-before::after { left: 0px; width: 100%; z-index: -1; }