@charset "utf-8";

.nav-slide-enter-active { transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1); }

.nav-slide-leave-active { transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1); }

.nav-slide-enter-from, .nav-slide-leave-to { opacity: 0; transform: translateY(-100%); }

.tab-fade-enter-active { transition: transform 0.4s cubic-bezier(0.34, 1.26, 0.64, 1) 0.25s, opacity 0.3s; z-index: 10; }

.tab-fade-leave-active { transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.15s; z-index: 5; }

.tab-fade-enter-from { opacity: 0; transform: translateY(200px); }

.tab-fade-enter-to, .tab-fade-leave-from { opacity: 1; transform: translateY(0px); }

.tab-fade-leave-to { opacity: 0; transform: translateY(200px); }